
*.zip
frontend/web/uploads/profilepic
frontend/web/assets/
frontend/runtime/logs/
backend/runtime/logs/
.idea/
sh.exe.stackdump
*.zip
frontend/web/assets/
frontend/runtime/logs/
backend/runtime/logs/
.idea/

sh.exe.stackdump

/nbproject/private/
*/backend/web/assets
backend/web/assets/
backend/web/upload/
backend/runtime/CSS/4.6.0,24166bfe16a0cc6bd18d813b83121ef2eaf16545,1.ser
